# Node modules
node_modules/

# Build output
.next/
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Optional: ignoring typescript build output
dist/